{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 180,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "none"
}
